USE [QuanLyNhanSu]
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateImployee]    Script Date: 29/11/2020 10:03:54 CH ******/
DROP PROCEDURE [dbo].[SP_UpdateImployee]
GO
/****** Object:  StoredProcedure [dbo].[SP_Login]    Script Date: 29/11/2020 10:03:54 CH ******/
DROP PROCEDURE [dbo].[SP_Login]
GO
/****** Object:  StoredProcedure [dbo].[SP_DeleteImployee]    Script Date: 29/11/2020 10:03:54 CH ******/
DROP PROCEDURE [dbo].[SP_DeleteImployee]
GO
/****** Object:  StoredProcedure [dbo].[SP_AddNewImployee]    Script Date: 29/11/2020 10:03:54 CH ******/
DROP PROCEDURE [dbo].[SP_AddNewImployee]
GO
ALTER TABLE [dbo].[NhanVien] DROP CONSTRAINT [FK_NhanVien_PhongBan]
GO
ALTER TABLE [dbo].[NhanVien] DROP CONSTRAINT [FK_NhanVien_ChucVu]
GO
/****** Object:  Table [dbo].[TinhThanh]    Script Date: 29/11/2020 10:03:54 CH ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TinhThanh]') AND type in (N'U'))
DROP TABLE [dbo].[TinhThanh]
GO
/****** Object:  Table [dbo].[PhongBan]    Script Date: 29/11/2020 10:03:54 CH ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PhongBan]') AND type in (N'U'))
DROP TABLE [dbo].[PhongBan]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 29/11/2020 10:03:54 CH ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[NhanVien]') AND type in (N'U'))
DROP TABLE [dbo].[NhanVien]
GO
/****** Object:  Table [dbo].[NguoiDung]    Script Date: 29/11/2020 10:03:54 CH ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[NguoiDung]') AND type in (N'U'))
DROP TABLE [dbo].[NguoiDung]
GO
/****** Object:  Table [dbo].[ChucVu]    Script Date: 29/11/2020 10:03:54 CH ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ChucVu]') AND type in (N'U'))
DROP TABLE [dbo].[ChucVu]
GO
/****** Object:  Table [dbo].[BangChiLuong]    Script Date: 29/11/2020 10:03:54 CH ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BangChiLuong]') AND type in (N'U'))
DROP TABLE [dbo].[BangChiLuong]
GO
/****** Object:  Table [dbo].[BangChamCong]    Script Date: 29/11/2020 10:03:54 CH ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BangChamCong]') AND type in (N'U'))
DROP TABLE [dbo].[BangChamCong]
GO
/****** Object:  Table [dbo].[BangChamCong]    Script Date: 29/11/2020 10:03:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BangChamCong](
	[MaNV] [int] NOT NULL,
	[ThangChamCong] [date] NULL,
	[Ngay1] [varchar](2) NULL,
	[Ngay2] [varchar](2) NULL,
	[Ngay3] [varchar](2) NULL,
	[Ngay4] [varchar](2) NULL,
	[Ngay5] [varchar](2) NULL,
	[Ngay6] [varchar](2) NULL,
	[Ngay7] [varchar](2) NULL,
	[Ngay8] [varchar](2) NULL,
	[Ngay9] [varchar](2) NULL,
	[Ngay10] [varchar](2) NULL,
	[Ngay11] [varchar](2) NULL,
	[Ngay12] [varchar](2) NULL,
	[Ngay13] [varchar](2) NULL,
	[Ngay14] [varchar](2) NULL,
	[Ngay15] [varchar](2) NULL,
	[Ngay16] [varchar](2) NULL,
	[Ngay17] [varchar](2) NULL,
	[Ngay18] [varchar](2) NULL,
	[Ngay19] [varchar](2) NULL,
	[Ngay20] [varchar](2) NULL,
	[Ngay21] [varchar](2) NULL,
	[Ngay22] [varchar](2) NULL,
	[Ngay23] [varchar](2) NULL,
	[Ngay24] [varchar](2) NULL,
	[Ngay25] [varchar](2) NULL,
	[Ngay26] [varchar](2) NULL,
	[Ngay27] [varchar](2) NULL,
	[Ngay28] [varchar](2) NULL,
	[Ngay29] [varchar](2) NULL,
	[Ngay30] [varchar](2) NULL,
	[Ngay31] [varchar](2) NULL,
	[TongSoNgay] [int] NULL,
	[NgayDiLam] [int] NULL,
	[Vang] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BangChiLuong]    Script Date: 29/11/2020 10:03:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BangChiLuong](
	[MaNV] [int] NOT NULL,
	[ThangChi] [date] NULL,
	[SoNgaylamviec] [float] NULL,
	[LuongThang] [float] NULL,
	[TruLuong] [float] NULL,
	[TroCapTrachNhiem] [float] NULL,
	[TongLuong] [float] NULL,
	[BHXH] [float] NULL,
	[BHYT] [float] NULL,
	[ThucLanh] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChucVu]    Script Date: 29/11/2020 10:03:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChucVu](
	[MaChucVu] [int] NOT NULL,
	[TenChucVu] [nvarchar](50) NULL,
	[GhiChu] [nvarchar](100) NULL,
 CONSTRAINT [PK__ChucVu__D463953310E5468A] PRIMARY KEY CLUSTERED 
(
	[MaChucVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiDung]    Script Date: 29/11/2020 10:03:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDung](
	[UserName] [varchar](100) NOT NULL,
	[Password] [varchar](1000) NOT NULL,
	[GhiChu] [nvarchar](200) NOT NULL,
	[ID] [int] NOT NULL,
	[Role] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 29/11/2020 10:03:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [int] NOT NULL,
	[TenNV] [nvarchar](100) NULL,
	[Cmnd] [varchar](15) NOT NULL,
	[NgayCap] [date] NULL,
	[MaTinhThanh] [int] NOT NULL,
	[NgaySinh] [date] NULL,
	[GioiTinh] [bit] NULL,
	[DiaChi] [ntext] NULL,
	[Email] [nvarchar](50) NULL,
	[Sdt] [varchar](15) NULL,
	[MaChucVu] [int] NOT NULL,
	[ThamNien] [int] NULL,
	[HeSoLuong] [float] NULL,
	[TinhTrangLamViec] [nvarchar](20) NULL,
	[HinhAnh] [image] NULL,
	[SoBHXH] [varchar](20) NULL,
	[SoBHYT] [varchar](20) NULL,
	[TaikhoanNH] [varchar](20) NULL,
	[MaPhongBan] [int] NOT NULL,
	[DanToc] [nvarchar](50) NULL,
	[NgayBatDau] [date] NULL,
	[NgayKetThuc] [date] NULL,
 CONSTRAINT [PK__NhanVien__2725D70A71B52EDF] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhongBan]    Script Date: 29/11/2020 10:03:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhongBan](
	[MaPhongBan] [int] NOT NULL,
	[TenPhongBan] [nvarchar](50) NULL,
	[GhiChu] [nvarchar](100) NULL,
 CONSTRAINT [PK__PhongBan__D0910CC8362E9B85] PRIMARY KEY CLUSTERED 
(
	[MaPhongBan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TinhThanh]    Script Date: 29/11/2020 10:03:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TinhThanh](
	[MaTinhThanh] [int] NOT NULL,
	[TenTinhThanh] [nvarchar](50) NULL,
 CONSTRAINT [PK_TinhThanh] PRIMARY KEY CLUSTERED 
(
	[MaTinhThanh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[BangChiLuong] ([MaNV], [ThangChi], [SoNgaylamviec], [LuongThang], [TruLuong], [TroCapTrachNhiem], [TongLuong], [BHXH], [BHYT], [ThucLanh]) VALUES (2005001, CAST(N'1900-01-02' AS Date), 30, 8000000, NULL, NULL, 8000000, 500000, 500000, 7000000)
INSERT [dbo].[BangChiLuong] ([MaNV], [ThangChi], [SoNgaylamviec], [LuongThang], [TruLuong], [TroCapTrachNhiem], [TongLuong], [BHXH], [BHYT], [ThucLanh]) VALUES (2005002, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[ChucVu] ([MaChucVu], [TenChucVu], [GhiChu]) VALUES (101, N'Nhân viên', NULL)
INSERT [dbo].[ChucVu] ([MaChucVu], [TenChucVu], [GhiChu]) VALUES (103, N'Trưởng phòng', NULL)
INSERT [dbo].[ChucVu] ([MaChucVu], [TenChucVu], [GhiChu]) VALUES (104, N'Thực tập sinh', NULL)
GO
INSERT [dbo].[NguoiDung] ([UserName], [Password], [GhiChu], [ID], [Role]) VALUES (N'admin', N'76xMiWBVxAw=', N'boss', 1, N'Admin')
GO
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [Cmnd], [NgayCap], [MaTinhThanh], [NgaySinh], [GioiTinh], [DiaChi], [Email], [Sdt], [MaChucVu], [ThamNien], [HeSoLuong], [TinhTrangLamViec], [HinhAnh], [SoBHXH], [SoBHYT], [TaikhoanNH], [MaPhongBan], [DanToc], [NgayBatDau], [NgayKetThuc]) VALUES (2005002, N'Lê Văn Luyện', N'251198566', CAST(N'2011-02-24' AS Date), 1, CAST(N'1993-05-13' AS Date), 1, NULL, N'vanluyen@gmail.com', N'0985221451', 101, 5, 1, N'Đang làm ', NULL, N'5468168265', N'5986258635', N'1658492825', 101, N'Kinh', CAST(N'2020-05-15' AS Date), NULL)
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [Cmnd], [NgayCap], [MaTinhThanh], [NgaySinh], [GioiTinh], [DiaChi], [Email], [Sdt], [MaChucVu], [ThamNien], [HeSoLuong], [TinhTrangLamViec], [HinhAnh], [SoBHXH], [SoBHYT], [TaikhoanNH], [MaPhongBan], [DanToc], [NgayBatDau], [NgayKetThuc]) VALUES (2005003, N'Dương Văn Thanh', N'256159824', CAST(N'2013-01-15' AS Date), 1, CAST(N'1996-04-26' AS Date), 0, NULL, N'vanthanh121@gmail.com', N'0332542366', 101, 10, 1, N'Đang làm', NULL, N'4869578592', N'4968523581', N'1658947895', 101, N'Kinh', CAST(N'2020-05-25' AS Date), NULL)
GO
INSERT [dbo].[PhongBan] ([MaPhongBan], [TenPhongBan], [GhiChu]) VALUES (101, N'Phòng nhân sự', NULL)
INSERT [dbo].[PhongBan] ([MaPhongBan], [TenPhongBan], [GhiChu]) VALUES (102, N'Phòng kinh doanh', NULL)
INSERT [dbo].[PhongBan] ([MaPhongBan], [TenPhongBan], [GhiChu]) VALUES (103, N'Phòng kết toán ', NULL)
GO
INSERT [dbo].[TinhThanh] ([MaTinhThanh], [TenTinhThanh]) VALUES (1, N'An Giang')
INSERT [dbo].[TinhThanh] ([MaTinhThanh], [TenTinhThanh]) VALUES (2, N'Bà Rịa - Vũng Tàu')
INSERT [dbo].[TinhThanh] ([MaTinhThanh], [TenTinhThanh]) VALUES (3, N'Bắc Giang')
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_ChucVu] FOREIGN KEY([MaChucVu])
REFERENCES [dbo].[ChucVu] ([MaChucVu])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NhanVien_ChucVu]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_PhongBan] FOREIGN KEY([MaPhongBan])
REFERENCES [dbo].[PhongBan] ([MaPhongBan])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NhanVien_PhongBan]
GO
/****** Object:  StoredProcedure [dbo].[SP_AddNewImployee]    Script Date: 29/11/2020 10:03:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_AddNewImployee]

	@TenNV nvarchar(100), @Cmnd varchar(15) = '', @NgayCap date = '', @TenTinhThanh nvarchar(50), @NgaySinh date = '',
	@GioiTinh nvarchar(10) = N'Nam', @DiaChi ntext = '', @Email nvarchar(50) = '', @Sdt varchar(15) = '', @TenChucVu nvarchar(50) = '',
	 @HeSoLuong float = 1, @TinhTrangLamViec nvarchar(20) = N'Đang làm', @HinhAnh image = '',
	@SoBHXH varchar(20) = '', @SoBHYT varchar(20) = '', @TaiKhoanNH varchar(20) = '', @TenPhongBan nvarchar(50) ='',
	@DanToc nvarchar(50) = N'Kinh'
AS
BEGIN
	DECLARE @str1 NVARCHAR(50), @str2 nvarchar(50), @str3 varchar(15), @Date date, @str4 nvarchar(20), @str5 nvarchar(50)
	SET @Date = GETDATE()
	SET @str1=N'' + @TenNV 
	SET @str2=N'' + @Email 
	SET @str3=N'' + @Sdt 
	SET @str4=N'' + @TinhTrangLamViec
	SET @str5=N'' + @Dantoc
	INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [Cmnd], [NgayCap], [MaTinhThanh], [NgaySinh], [GioiTinh], [DiaChi], [Email], [Sdt], [MaChucVu],  [HeSoLuong], [TinhTrangLamViec], [HinhAnh], [SoBHXH], [SoBHYT], [TaikhoanNH], [MaPhongBan], [DanToc], [NgayBatDau], [NgayKetThuc]) 
	VALUES ((select max(MaNV) + 1 from NhanVien), @str1 , N'' + @Cmnd, @NgayCap,(select MaTinhThanh from TinhThanh where TenTinhThanh like CONCAT(N'%',@TenTinhThanh,'%')), @NgaySinh, (CASE @GioiTinh WHEN N'Nam' THEN 1 ELSE 0 END), @DiaChi, @str2, @str3,(select MaChucVu from ChucVu where TenChucVu like CONCAT(N'%',@TenChucVu,'%')), @HeSoLuong,@str4, @HinhAnh, @SoBHXH,@SoBHYT, @TaiKhoanNH, (select MaPhongBan from PhongBan where TenPhongBan like CONCAT(N'%',@TenPhongBan,'%')),@str5, @Date, NULL)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DeleteImployee]    Script Date: 29/11/2020 10:03:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_DeleteImployee]
	@MaNV int
as 
begin 
	Delete from NhanVien
	where MaNV = @MaNV
end
GO
/****** Object:  StoredProcedure [dbo].[SP_Login]    Script Date: 29/11/2020 10:03:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_Login]
@userName nvarchar(100), @passWord nvarchar(100)
AS
BEGIN
	SELECT * FROM dbo.NguoiDung WHERE UserName = @userName AND PassWord = @passWord
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateImployee]    Script Date: 29/11/2020 10:03:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_UpdateImployee]
	@MaNV int, @TenNV nvarchar(100) = '', @Cmnd varchar(15) = '', @NgayCap date = '',
	@TenTinhThanh nvarchar(50) = '', @NgaySinh date = '', @GioiTinh nvarchar(10) = '',
	@DiaChi ntext = '', @Email nvarchar(50) = '', @Sdt varchar(15) = '', @TenChucVu nvarchar(50) = N'Nhân viên', 
	@HeSoLuong float = '',@TinhTrangLamViec nvarchar(20)  = '',@HinhAnh image = '',
	@SoBHXH varchar(20) = '',  @SoBHYT varchar(20) = '',  @TaiKhoanNH varchar(20) = '',
	@TenPhongBan nvarchar(50) = N'Nhân sự', @DanToc nvarchar(50) = N'Kinh', @NgayKetThuc date = ''
AS
BEGIN

	update [dbo].[NhanVien]
	set TenNV  = @TenNV, Cmnd = @Cmnd, NgayCap = @NgayCap, 
	MaTinhThanh = (select MaTinhThanh from TinhThanh where TenTinhThanh like CONCAT(N'%',@TenTinhThanh,'%')),
	NgaySinh = @NgaySinh, GioiTinh =  (CASE @GioiTinh WHEN N'Nam' THEN 1 ELSE 0 END),
	DiaChi = @DiaChi, Email = @Email, Sdt = @Sdt, MaChucVu = (select MaChucVu from ChucVu where TenChucVu like CONCAT(N'%',@TenChucVu,'%')),
	HeSoLuong = @HeSoLuong, TinhTrangLamViec = @TinhTrangLamViec, HinhAnh = @HinhAnh, SoBHXH = @SoBHXH, SoBHYT = @SoBHYT,
	TaiKhoanNH = @TaiKhoanNH, MaPhongBan = (select MaPhongBan from PhongBan where TenPhongBan like CONCAT(N'%',@TenPhongBan,'%')),
	DanToc = @DanToc, NgayKetThuc = @NgayKetThuc
	where MaNV = @MaNV
END
GO
