USE [master]
GO
/****** Object:  Database [QuanLyNhanSu]    Script Date: 09/12/2020 9:39:43 SA ******/
CREATE DATABASE [QuanLyNhanSu]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyNhanSu', FILENAME = N'F:\Visual Studio 2013\Visual Studio 2013\Project\QLNS\QuanLyNhanSu.mdf' , SIZE = 5184KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QuanLyNhanSu_log', FILENAME = N'F:\Visual Studio 2013\Visual Studio 2013\Project\QLNS\QuanLyNhanSu_log.ldf' , SIZE = 3520KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyNhanSu].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyNhanSu]
GO
/****** Object:  UserDefinedFunction [dbo].[SDF_SplitString]    Script Date: 09/12/2020 9:39:43 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[SDF_SplitString]
(
    @sString nvarchar(2048),
    @cDelimiter nchar(1)
)
RETURNS @tParts TABLE ( part nvarchar(2048) )
AS
BEGIN
    if @sString is null return
    declare @iStart int,
            @iPos int
    if substring( @sString, 1, 1 ) = @cDelimiter 
    begin
        set @iStart = 2
        insert into @tParts
        values( null )
    end
    else 
        set @iStart = 1
    while 1=1
    begin
        set @iPos = charindex( @cDelimiter, @sString, @iStart )
        if @iPos = 0
            set @iPos = len( @sString )+1
        if @iPos - @iStart > 0          
            insert into @tParts
            values  ( substring( @sString, @iStart, @iPos-@iStart ))
        else
            insert into @tParts
            values( null )
        set @iStart = @iPos+1
        if @iStart > len( @sString ) 
            break
    end
    RETURN

END
GO
/****** Object:  UserDefinedFunction [dbo].[SplitString]    Script Date: 09/12/2020 9:39:43 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[SplitString]
(    
      @Input NVARCHAR(MAX),
      @Character CHAR(1)
)
RETURNS @Output TABLE (
      Item NVARCHAR(1000)
)
AS
BEGIN
      DECLARE @StartIndex INT, @EndIndex INT
 
      SET @StartIndex = 1
      IF SUBSTRING(@Input, LEN(@Input) - 1, LEN(@Input)) <> @Character
      BEGIN
            SET @Input = @Input + @Character
      END
 
      WHILE CHARINDEX(@Character, @Input) > 0
      BEGIN
            SET @EndIndex = CHARINDEX(@Character, @Input)
           
            INSERT INTO @Output(Item)
            SELECT SUBSTRING(@Input, @StartIndex, @EndIndex - 1)
           
            SET @Input = SUBSTRING(@Input, @EndIndex + 1, LEN(@Input))
      END
 
      RETURN
END
GO
/****** Object:  Table [dbo].[BangChamCong]    Script Date: 09/12/2020 9:39:43 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BangChamCong](
	[MaChamCong] [int] NULL,
	[MaNV] [int] NULL,
	[ThangChamCong] [date] NULL,
	[Ngay1] [varchar](2) NULL,
	[Ngay2] [varchar](2) NULL,
	[Ngay3] [varchar](2) NULL,
	[Ngay4] [varchar](2) NULL,
	[Ngay5] [varchar](2) NULL,
	[Ngay6] [varchar](2) NULL,
	[Ngay7] [varchar](2) NULL,
	[Ngay8] [varchar](2) NULL,
	[Ngay9] [varchar](2) NULL,
	[Ngay10] [varchar](2) NULL,
	[Ngay11] [varchar](2) NULL,
	[Ngay12] [varchar](2) NULL,
	[Ngay13] [varchar](2) NULL,
	[Ngay14] [varchar](2) NULL,
	[Ngay15] [varchar](2) NULL,
	[Ngay16] [varchar](2) NULL,
	[Ngay17] [varchar](2) NULL,
	[Ngay18] [varchar](2) NULL,
	[Ngay19] [varchar](2) NULL,
	[Ngay20] [varchar](2) NULL,
	[Ngay21] [varchar](2) NULL,
	[Ngay22] [varchar](2) NULL,
	[Ngay23] [varchar](2) NULL,
	[Ngay24] [varchar](2) NULL,
	[Ngay25] [varchar](2) NULL,
	[Ngay26] [varchar](2) NULL,
	[Ngay27] [varchar](2) NULL,
	[Ngay28] [varchar](2) NULL,
	[Ngay29] [varchar](2) NULL,
	[Ngay30] [varchar](2) NULL,
	[Ngay31] [varchar](2) NULL,
	[TongSoNgay] [float] NULL,
	[SoGioTangCa] [float] NULL,
	[UserModified] [nvarchar](100) NULL,
	[DateModified] [date] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BangChiLuong]    Script Date: 09/12/2020 9:39:43 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BangChiLuong](
	[MaChamCong] [int] NULL,
	[MaNV] [int] NULL,
	[ThangChi] [date] NULL,
	[SoNgaylamviec] [float] NULL,
	[LuongCoBan] [float] NULL,
	[SoGioTangCa] [float] NULL,
	[TongTienTangCa] [float] NULL,
	[TroCapAnTrua] [float] NULL,
	[TroCapXangXe] [float] NULL,
	[TroCapTrachNhiem] [float] NULL,
	[TienThuong] [float] NULL,
	[Phat] [float] NULL,
	[TongLuong] [float] NULL,
	[BHXH] [float] NULL,
	[BHYT] [float] NULL,
	[CongDoan] [float] NULL,
	[ThatNghiep] [float] NULL,
	[ThucLanh] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChucVu]    Script Date: 09/12/2020 9:39:43 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChucVu](
	[MaChucVu] [int] NOT NULL,
	[TenChucVu] [nvarchar](50) NULL,
	[GhiChu] [nvarchar](100) NULL,
 CONSTRAINT [PK__ChucVu__D463953310E5468A] PRIMARY KEY CLUSTERED 
(
	[MaChucVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiDung]    Script Date: 09/12/2020 9:39:43 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDung](
	[ID] [int] NOT NULL,
	[UserName] [varchar](100) NOT NULL,
	[Password] [varchar](1000) NOT NULL,
	[Email] [nvarchar](200) NULL,
	[HoTen] [nvarchar](100) NULL,
	[Role] [nvarchar](50) NOT NULL,
	[CodeXacThuc] [int] NULL,
	[AllowResetPass] [bit] NULL,
	[LastLogin] [datetime2](7) NULL,
 CONSTRAINT [PK__NguoiDun__C9F28457000ED8BE] PRIMARY KEY CLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 09/12/2020 9:39:43 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [int] NOT NULL,
	[TenNV] [nvarchar](100) NULL,
	[Cmnd] [varchar](15) NOT NULL,
	[NgayCap] [datetime2](7) NULL,
	[MaTinhThanh] [int] NOT NULL,
	[NgaySinh] [datetime2](7) NULL,
	[GioiTinh] [bit] NULL,
	[DiaChi] [ntext] NULL,
	[Email] [nvarchar](50) NULL,
	[Sdt] [varchar](15) NULL,
	[MaChucVu] [int] NOT NULL,
	[ThamNien] [int] NULL,
	[HeSoLuong] [nvarchar](10) NULL,
	[TinhTrangLamViec] [nvarchar](20) NULL,
	[HinhAnh] [varchar](max) NULL,
	[SoBHXH] [varchar](20) NULL,
	[SoBHYT] [varchar](20) NULL,
	[TaikhoanNH] [varchar](20) NULL,
	[MaPhongBan] [int] NOT NULL,
	[DanToc] [nvarchar](50) NULL,
	[NgayBatDau] [datetime2](7) NULL,
	[NgayKetThuc] [datetime2](7) NULL,
	[LastModified] [datetime2](7) NULL,
	[UserModified] [varchar](100) NULL,
 CONSTRAINT [PK__NhanVien__2725D70A71B52EDF] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhongBan]    Script Date: 09/12/2020 9:39:43 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhongBan](
	[MaPhongBan] [int] NOT NULL,
	[TenPhongBan] [nvarchar](50) NULL,
	[GhiChu] [nvarchar](100) NULL,
 CONSTRAINT [PK__PhongBan__D0910CC8362E9B85] PRIMARY KEY CLUSTERED 
(
	[MaPhongBan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TinhThanh]    Script Date: 09/12/2020 9:39:43 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TinhThanh](
	[MaTinhThanh] [int] NOT NULL,
	[TenTinhThanh] [nvarchar](50) NULL,
 CONSTRAINT [PK_TinhThanh] PRIMARY KEY CLUSTERED 
(
	[MaTinhThanh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[BangChiLuong] ([MaChamCong], [MaNV], [ThangChi], [SoNgaylamviec], [LuongCoBan], [SoGioTangCa], [TongTienTangCa], [TroCapAnTrua], [TroCapXangXe], [TroCapTrachNhiem], [TienThuong], [Phat], [TongLuong], [BHXH], [BHYT], [CongDoan], [ThatNghiep], [ThucLanh]) VALUES (2020, 2005001, CAST(N'1900-01-02' AS Date), 30, 8000000, 0, 0, 500000, 500000, 500000, NULL, 0, 0, 500000, 500000, 100000, 800000, 7000000)
GO
INSERT [dbo].[ChucVu] ([MaChucVu], [TenChucVu], [GhiChu]) VALUES (101, N'Nhân viên', NULL)
INSERT [dbo].[ChucVu] ([MaChucVu], [TenChucVu], [GhiChu]) VALUES (103, N'Trưởng phòng', NULL)
INSERT [dbo].[ChucVu] ([MaChucVu], [TenChucVu], [GhiChu]) VALUES (104, N'Thực tập sinh', NULL)
GO
INSERT [dbo].[NguoiDung] ([ID], [UserName], [Password], [Email], [HoTen], [Role], [CodeXacThuc], [AllowResetPass], [LastLogin]) VALUES (1, N'admin', N'uh3snmREW9o+80KrFnOs2NeJ86hqyM3+7BMnnka5CicX4R1rj5xCiQ==', N'hoangtu0325@gmail.com', N'Nguyễn Hoàng Tú', N'Admin', 844106, 1, NULL)
INSERT [dbo].[NguoiDung] ([ID], [UserName], [Password], [Email], [HoTen], [Role], [CodeXacThuc], [AllowResetPass], [LastLogin]) VALUES (2, N'admin1', N'xtySoDxutfM=', N'tranthai2258@gmail.com', NULL, N'Admin', 4680, 0, NULL)
INSERT [dbo].[NguoiDung] ([ID], [UserName], [Password], [Email], [HoTen], [Role], [CodeXacThuc], [AllowResetPass], [LastLogin]) VALUES (3, N'hoangtu', N'KjsTG7i1eT8=', N'hoangtu0325@gmail.com', NULL, N'User', 2656, 0, NULL)
GO
INSERT [dbo].[PhongBan] ([MaPhongBan], [TenPhongBan], [GhiChu]) VALUES (101, N'Phòng nhân sự', NULL)
INSERT [dbo].[PhongBan] ([MaPhongBan], [TenPhongBan], [GhiChu]) VALUES (102, N'Phòng kinh doanh', NULL)
INSERT [dbo].[PhongBan] ([MaPhongBan], [TenPhongBan], [GhiChu]) VALUES (103, N'Phòng kế toán ', NULL)
GO
INSERT [dbo].[TinhThanh] ([MaTinhThanh], [TenTinhThanh]) VALUES (1, N'An Giang')
INSERT [dbo].[TinhThanh] ([MaTinhThanh], [TenTinhThanh]) VALUES (2, N'Bà Rịa - Vũng Tàu')
INSERT [dbo].[TinhThanh] ([MaTinhThanh], [TenTinhThanh]) VALUES (3, N'Bắc Giang')
GO
ALTER TABLE [dbo].[BangChiLuong]  WITH CHECK ADD  CONSTRAINT [FK_BangChiLuong_NhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[BangChiLuong] CHECK CONSTRAINT [FK_BangChiLuong_NhanVien]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_ChucVu] FOREIGN KEY([MaChucVu])
REFERENCES [dbo].[ChucVu] ([MaChucVu])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NhanVien_ChucVu]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_PhongBan] FOREIGN KEY([MaPhongBan])
REFERENCES [dbo].[PhongBan] ([MaPhongBan])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NhanVien_PhongBan]
GO
/****** Object:  StoredProcedure [dbo].[SP_AddNewImployee]    Script Date: 09/12/2020 9:39:43 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_AddNewImployee]

	@TenNV nvarchar(100), @Cmnd varchar(15) = '', @NgayCap date = '', @TenTinhThanh nvarchar(50) = N'TP HCM', @NgaySinh date = '',
	@GioiTinh nvarchar(10) = N'Nam', @DiaChi ntext = '', @Email nvarchar(50) = '', @Sdt varchar(15) = '', @TenChucVu nvarchar(50) = N'Nhân viên',
	 @HeSoLuong nvarchar(10) = '', @TinhTrangLamViec nvarchar(20) = N'Đang làm', @HinhAnh nvarchar(50) = '',
	@SoBHXH varchar(20) = '', @SoBHYT varchar(20) = '', @TaiKhoanNH varchar(20) = '', @TenPhongBan nvarchar(50) = N'Phòng kĩ thuật',
	@DanToc nvarchar(50) = N'Kinh'
AS
BEGIN
	DECLARE @str1 NVARCHAR(50), @str2 nvarchar(50), @str3 varchar(15), @Date date, @str4 nvarchar(20), @str5 nvarchar(50), @str6 nvarchar(50), @str7 nvarchar(50), @str8 nvarchar(50)
	SET @Date = GETDATE()
	SET @str1=N'' + @TenNV 
	SET @str2=N'' + @Email 
	SET @str3=N'' + @Sdt 
	SET @str4=N'' + @TinhTrangLamViec
	SET @str5=N'' + @Dantoc
	SET @str6= CONCAT(N'%',@TenTinhThanh,'%')
	SET @str7= CONCAT(N'%',@TenChucVu,'%')
	SET @str8= CONCAT(N'%',@TenPhongBan,'%')
	INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [Cmnd], [NgayCap], [MaTinhThanh], [NgaySinh], [GioiTinh], [DiaChi], [Email], [Sdt], [MaChucVu],  [HeSoLuong], [TinhTrangLamViec], [HinhAnh], [SoBHXH], [SoBHYT], [TaikhoanNH], [MaPhongBan], [DanToc], [NgayBatDau], [NgayKetThuc]) 
	VALUES ((select max(MaNV) + 1 from NhanVien), @str1 , N'' + @Cmnd, @NgayCap, (select MaTinhThanh from TinhThanh where TenTinhThanh like @str6), @NgaySinh, (CASE @GioiTinh WHEN N'Nam' THEN 1 ELSE 0 END), @DiaChi, @str2, @str3,(select MaChucVu from ChucVu where TenChucVu like @str7), @HeSoLuong,@str4, @HinhAnh, @SoBHXH,@SoBHYT, @TaiKhoanNH, (select MaPhongBan from PhongBan where TenPhongBan like @str8),@str5, @Date, NULL)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ChangePassFromUserName]    Script Date: 09/12/2020 9:39:43 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_ChangePassFromUserName]
	@userName nvarchar(100),  @passWord nvarchar(100)
as
begin
	update NguoiDung  set Password  = @passWord
	where UserName = @userName
end
GO
/****** Object:  StoredProcedure [dbo].[SP_CheckUserAdmin]    Script Date: 09/12/2020 9:39:43 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_CheckUserAdmin]
	@userName nvarchar(100)
as
begin
	select Role from NguoiDung where UserName = @userName
end
GO
/****** Object:  StoredProcedure [dbo].[SP_DeleteImployee]    Script Date: 09/12/2020 9:39:43 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_DeleteImployee]
	@MaNV int
as 
begin 
	Delete from NhanVien
	where MaNV = @MaNV
end
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllPhongBan]    Script Date: 09/12/2020 9:39:43 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_GetAllPhongBan]
as
begin
	select * from PhongBan
end
GO
/****** Object:  StoredProcedure [dbo].[SP_GetFilterAllNhanVien]    Script Date: 09/12/2020 9:39:43 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_GetFilterAllNhanVien]
	@PhongBan nvarchar(4000) = '', @GioiTinh nvarchar(100) = ''
as
begin

	
	SELECT NV.MaNV AS [Mã NV], NV.TenNV AS [Họ tên], (CASE NV.GioiTinh WHEN 1 THEN 'Nam' ELSE N'Nữ' END) AS [Giới tính], CV.TenChucVu AS [Chức vụ], PB.TenPhongBan AS [Tên phòng ban], NV.Cmnd AS CMND, NV.NgaySinh AS [Ngày sinh], NV.DiaChi AS [Địa chỉ], NV.Email, NV.Sdt AS SĐT,   NV.ThamNien AS[Thâm niên], NV.HeSoLuong AS[Hệ số lương], NV.TinhTrangLamViec AS[Tình trạng làm việc], NV.SoBHXH AS BHXH, NV.SoBHYT AS BHYT,  NV.TaikhoanNH AS[Số tài khoản], NV.DanToc AS[Dân tộc], NV.NgayBatDau AS[Ngày vào làm], NV.NgayKetThuc AS[Ngày nghỉ]  FROM NhanVien AS NV INNER JOIN  PhongBan AS PB ON NV.MaPhongBan = PB.MaPhongBan INNER JOIN  ChucVu AS CV ON NV.MaChucVu = CV.MaChucVu
	where PB.TenPhongBan IN (SELECT CONVERT(NVARCHAR(4000), Item) FROM SplitString(@PhongBan, ','))  and NV.GioiTinh IN (SELECT CONVERT(bit, Item) FROM SplitString(@GioiTinh, ','))
	order by PB.TenPhongBan
end
GO
/****** Object:  StoredProcedure [dbo].[SP_GetNhanVienByID]    Script Date: 09/12/2020 9:39:43 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_GetNhanVienByID]
	@MaNV int
as
begin
	SELECT NV.MaNV, NV.TenNV, NV.Ngaycap as [NgayCap],NV.HinhAnh, TT.TenTinhThanh, (CASE NV.GioiTinh WHEN 1 THEN 'Nam' ELSE N'Nữ' END) as [GioiTinh], CV.TenChucVu, PB.TenPhongBan, NV.Cmnd , NV.NgaySinh , NV.DiaChi , NV.Email, NV.Sdt ,   NV.ThamNien , NV.HeSoLuong , NV.TinhTrangLamViec , NV.SoBHXH , NV.SoBHYT ,  NV.TaikhoanNH , NV.DanToc , NV.NgayBatDau , NV.NgayKetThuc 
	FROM NhanVien AS NV 
	INNER JOIN  PhongBan AS PB ON NV.MaPhongBan = PB.MaPhongBan 
	INNER JOIN  ChucVu AS CV ON NV.MaChucVu = CV.MaChucVu
	INNER JOIN TinhThanh as TT on NV.MaTinhThanh = TT.MaTinhThanh
	where MaNV = @MaNV
end
GO
/****** Object:  StoredProcedure [dbo].[SP_GetUserFromUserName]    Script Date: 09/12/2020 9:39:43 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_GetUserFromUserName]
	@userName nvarchar(100)
as
begin
	select * from NguoiDung where UserName = @userName
end
GO
/****** Object:  StoredProcedure [dbo].[SP_Login]    Script Date: 09/12/2020 9:39:43 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_Login]
@userName nvarchar(100), @passWord nvarchar(100)
AS
BEGIN
	SELECT * FROM dbo.NguoiDung WHERE UserName = @userName AND PassWord = @passWord
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateImployee]    Script Date: 09/12/2020 9:39:43 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_UpdateImployee]
	@MaNV int, @TenNV nvarchar(100), @Cmnd varchar(15), @NgayCap date,
	@TenTinhThanh nvarchar(50), @NgaySinh date, @GioiTinh nvarchar(10),
	@DiaChi ntext, @Email nvarchar(50), @Sdt varchar(15), @TenChucVu nvarchar(50) = N'Nhân viên', 
	@HeSoLuong nvarchar(10),@TinhTrangLamViec nvarchar(20),@HinhAnh varchar(Max),
	@SoBHXH varchar(20) = '',  @SoBHYT varchar(20) = '',  @TaiKhoanNH varchar(20) = '',
	@TenPhongBan nvarchar(50) = N'Nhân sự', @DanToc nvarchar(50) = N'Kinh',
	@LastModified date , @UserModified varchar(50)
AS
BEGIN

	update [dbo].[NhanVien]
	set TenNV  = @TenNV, Cmnd = @Cmnd, NgayCap = @NgayCap, 
	MaTinhThanh = (select MaTinhThanh from TinhThanh where TenTinhThanh like CONCAT(N'%',@TenTinhThanh,'%')),
	NgaySinh = @NgaySinh, GioiTinh =  (CASE @GioiTinh WHEN N'Nam' THEN 1 ELSE 0 END),
	DiaChi = @DiaChi, Email = @Email, Sdt = @Sdt, MaChucVu = (select MaChucVu from ChucVu where TenChucVu like CONCAT(N'%',@TenChucVu,'%')),
	HeSoLuong = @HeSoLuong, TinhTrangLamViec = @TinhTrangLamViec, HinhAnh = @HinhAnh, SoBHXH = @SoBHXH, SoBHYT = @SoBHYT,
	TaiKhoanNH = @TaiKhoanNH, MaPhongBan = (select MaPhongBan from PhongBan where TenPhongBan like CONCAT(N'%',@TenPhongBan,'%')),
	DanToc = @DanToc,  LastModified = @LastModified, UserModified = @UserModified
	where MaNV = @MaNV
END
GO
/****** Object:  Trigger [dbo].[TG_getDate_insertEmployee]    Script Date: 09/12/2020 9:39:43 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create TRIGGER [dbo].[TG_getDate_insertEmployee]
ON [dbo].[NhanVien] AFTER INSERT
AS BEGIN
	UPDATE NhanVien
	SET NgayBatDau = GETDATE()
	FROM NhanVien NV INNER JOIN inserted i 
		ON NV.MaNV = i.MaNV
	PRINT 'EXECUTE TRIGGRER tg_getDate_insertEmployee'
END
GO
ALTER TABLE [dbo].[NhanVien] ENABLE TRIGGER [TG_getDate_insertEmployee]
GO
/****** Object:  Trigger [dbo].[TG_ThamNienEmployee]    Script Date: 09/12/2020 9:39:43 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create TRIGGER [dbo].[TG_ThamNienEmployee]
ON [dbo].[NhanVien] AFTER insert
AS BEGIN
	UPDATE NhanVien
	SET ThamNien = (select Year(GETDATE()) - Year(NV.NgayBatDau))
	FROM NhanVien NV INNER JOIN inserted i 
		ON NV.MaNV = i.MaNV
	PRINT 'EXECUTE TRIGGRER [TG_ThamNienEmployee]'
END
GO
ALTER TABLE [dbo].[NhanVien] ENABLE TRIGGER [TG_ThamNienEmployee]
GO
USE [master]
GO
